@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "SF Pro";
  src: url("/SFPro/SF-Pro-Display-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro";
  src: url("/SFPro/SF-Pro-Display-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro";
  src: url("/SFPro/SF-Pro-Display-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro";
  src: url("/SFPro/SF-Pro-Display-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro";
  src: url("/SFPro/SF-Pro-Display-Heavy.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro";
  src: url("/SFPro/SF-Pro.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
html,
body {
  font-size: 12px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
@media screen and (min-width: 370px) {
  html,
  body {
    font-size: 16px;
  }
}

body {
  font-size: 1em;
  overflow-x: hidden;
  font-family: "SF Pro", sans-serif;
  width: 100%;
}

.site-container {
  @apply max-w-[80.375rem] mx-auto px-5 sm:px-12 lg:px-24;
}

.nav {
  @apply site-container flex w-full gap-16 items-center py-4;
}
.nav-wrapper {
  box-shadow: 0px 4px 28px 0px rgba(197, 197, 197, 0.2509803922);
  @apply fixed bg-white dark:bg-black dark:text-white top-0 left-0 w-full z-50 duration-[.5s] lg:shadow-none;
}
.nav-menu {
  @apply lg:hidden ml-auto;
}
.nav-wrap {
  @apply hidden lg:flex w-full justify-between items-center text-sm font-medium;
}
.nav-links {
  @apply flex gap-8 items-center;
}
.nav-links a {
  @apply hover:text-[#B88D38];
}
.nav-details {
  @apply flex gap-10 relative;
}
.nav-dropdown {
  @apply flex gap-4 items-center cursor-pointer;
}
.nav-button {
  @apply w-[9.5rem] bg-black dark:bg-white hover:bg-[#B88D38] transition-all text-white dark:text-black flex items-center justify-center h-10 rounded-lg;
}
.nav .socials {
  @apply absolute flex w-[21rem] gap-6 top-12 z-10 rounded-lg -left-40 bg-white dark:bg-black duration-[.3s] opacity-0 transform -translate-x-6;
  @apply w-0 h-0 p-0 overflow-hidden;
  box-shadow: 0px 4px 28px 0px rgba(197, 197, 197, 0.3019607843);
}
.nav .socials-show {
  @apply opacity-100 translate-x-0 w-fit h-auto p-3;
}
.nav .socials .social {
  @apply flex gap-2 text-sm font-medium items-center py-2 rounded-sm mb-1 px-5 w-36;
}
.nav .socials .social:hover .social-text {
  @apply gap-2;
}
.nav .socials .social-text {
  @apply flex whitespace-nowrap gap-1 transition-all;
}
.nav .socials .social img {
  @apply w-[0.6875rem] h-[0.6875rem];
}

.countdown {
  @apply flex mt-10 gap-2 justify-center lg:justify-normal;
}
.countdown-colon {
  @apply mt-6;
}

.time-figure {
  @apply flex flex-col justify-center items-center w-[3.25rem] sm:w-[4.625rem] h-[4.375rem] sm:h-[6.25rem] rounded border-b-[0.5rem] sm:border-b-[0.75rem] border-[#EBDCC0];
  @apply shadow-[0px_0px_11px_0px_#f2e4c7] sm:shadow-[0px_0px_16px_0px_#f2e4c7];
}
.time-figure .figure {
  @apply text-xl sm:text-[1.875rem] font-extrabold;
}
.time-figure .time {
  @apply text-[0.5rem] sm:text-[0.625rem] font-medium text-[#A1957D];
}

.banner {
  @apply site-container flex flex-col lg:flex-row items-center justify-between gap-20 pt-[9.25rem];
}
.banner-text {
  @apply text-center lg:text-left;
}
.banner-heading {
  @apply font-black text-[3rem] sm:text-7xl leading-[2.828125rem] sm:leading-[4rem];
  font-variation-settings: "wght" 1000, "wdth" 133;
}
.banner-subheading {
  @apply text-sm sm:text-xl tracking-[0.2875rem] uppercase mt-2;
}
.banner-subheading span {
  @apply italic text-[#B88D38];
}
.banner-img {
  @apply min-w-full lg:min-w-[50%] lg:max-w-[50%] transition-all;
}
.banner-date {
  @apply tracking-[0.2875rem] mt-4 mb-8;
}
.banner-btn {
  @apply w-[280px] h-[50px] bg-black hover:bg-[#B88D38] transition-all rounded-lg flex justify-center items-center text-white font-medium;
  @apply mx-auto lg:mx-0;
}

.cursor-transform {
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroller {
  max-width: 100vw;
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.scroller[data-animated=true] {
  overflow: hidden;
}

.scroller[data-animated=true] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction=right] {
  --_animation-direction: reverse;
}

.scroller[data-direction=left] {
  --_animation-direction: forwards;
}

.scroller[data-speed=fast] {
  --_animation-duration: 20s;
}

.scroller[data-speed=slow] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}
.tag-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}
.tag-list li {
  width: 89rem;
}

/* for testing purposed to ensure the animation lined up correctly */
.test {
  background: red !important;
}

.about {
  @apply site-container flex flex-col lg:flex-row gap-8 sm:gap-20 text-center lg:text-left;
}
.about-container {
  background: linear-gradient(180deg, #fffcf7 0%, rgba(255, 252, 247, 0) 100%);
  @apply mt-12 py-[4.5rem];
}
.about-heading {
  @apply text-[2rem] leading-[1.9625rem] sm:text-[3.5rem] font-black sm:leading-[3.375rem] w-fit;
  font-variation-settings: "wght" 870, "wdth" 133;
}
.about-heading span {
  @apply text-[#B88D38];
}
.about-text {
  @apply text-[#46371BB2];
}
.about-becon {
  @apply site-container flex flex-col lg:flex-row  gap-20 pt-20 relative;
}
.about-becon-wrapper {
  @apply dark:bg-black dark:text-white duration-[.5s];
}
.about-becon .target {
  @apply lg:border-l-[0.5625rem] border-[#B88D38] lg:pl-8 text-center lg:text-left mt-6 lg:mt-0;
}
.about-becon .target-wrapper {
  @apply lg:h-screen flex flex-col justify-center mb-16 lg:mb-0;
}
.about-becon .target-wrapper img {
  @apply rounded-md lg:hidden;
}
.about-becon .target-title {
  @apply text-[#B88D38] text-xl sm:text-2xl font-black mb-2;
  font-variation-settings: "wght" 870, "wdth" 133;
}
.about-becon .target-body {
  @apply text-[#000000B2]  dark:text-white leading-6;
}
.about-becon .target-holds {
  @apply font-semibold text-[#333333B2] dark:text-white mt-4;
}
.about-becon .target-date {
  @apply text-2xl font-bold;
}
.about-becon .target-links {
  @apply flex  mt-6 mx-auto lg:ml-10 lg:mr-0 items-center gap-2;
}
.about-becon .target-know {
  @apply bg-black dark:bg-white text-white dark:text-black font-medium w-[9.75rem] h-10 flex justify-center items-center rounded-full;
}
.about-becon .target-link {
  @apply h-10 w-48 text-[#B88D38] justify-center gap-1 items-center bg-[#F5F1E7] rounded-full flex;
}
.about-becon .target-img-wrapper {
  @apply hidden lg:flex sticky top-0 h-screen items-center min-w-[50%];
}
.about-becon .target-img-wrapper .open {
  @apply opacity-100 w-full;
}
.about-becon .target-img {
  @apply opacity-0 duration-[.5s]  absolute top-1/2 -translate-y-1/2 rounded-md;
}

.reasons {
  @apply overflow-x-hidden;
}
.reasons-heading {
  @apply site-container  lg:px-6 text-[2rem] leading-[1.9625rem] sm:text-[3.5rem] sm:leading-[3.375rem] font-black  text-center mb-8 sm:mb-[4.5rem];
  font-variation-settings: "wght" 870, "wdth" 132;
}
.reasons-heading span {
  @apply text-[#B88D38] lg:block;
}
.reasons .testimony {
  @apply flex flex-col-reverse lg:flex-row text-white p-5 lg:p-0;
}
.reasons .testimony-text {
  @apply w-full lg:w-1/2 lg:pr-[4.625rem] lg:ml-auto lg:max-w-[34rem] pt-6 sm:pt-[4.375rem] flex flex-col-reverse lg:flex-col;
}
.reasons .testimony-name {
  @apply text-2xl mb-2 mt-11 lg:mt-0;
}
.reasons .testimony-content {
  @apply text-[#FFFFFFCC] mb-4;
}
.reasons .testimony-options {
  @apply flex gap-5;
}
.reasons .testimony-options button {
  @apply w-[74px] h-[74px] rounded-lg overflow-hidden opacity-50;
}
.reasons .testimony-options button img {
  @apply w-full h-full object-cover;
}
.reasons .testimony-options .active {
  @apply border-[3px] border-[#F1C670] opacity-100;
}
.reasons .testimony-img {
  @apply top-0 right-0 w-full lg:w-1/2 relative sm:max-h-[33.5rem];
}
.reasons .testimony-img video {
  @apply w-full h-full sm:max-h-[33.5rem];
}
.reasons .testimony-play {
  @apply absolute right-9 top-8 z-10;
}
.reasons .previous {
  @apply site-container flex flex-col lg:flex-row gap-[5.75rem] pt-28 lg:pt-[13.25rem]  relative z-10 text-center lg:text-left;
}
.reasons .previous-heading {
  @apply text-[2rem] sm:text-[3.5rem] text-white leading-[1.9625rem] sm:leading-[3.375rem] font-black w-fit;
  font-variation-settings: "wght" 870, "wdth" 132;
}
.reasons .previous-heading span {
  @apply text-[#F4DBA8];
}
.reasons .previous-text {
  @apply text-[#FFFFFFCC];
}
.reasons .previous-grid {
  @apply bg-[#000000] relative pt-[4.5rem];
}
.reasons .previous-grid .top-bg {
  @apply absolute right-0 -top-96;
}
.reasons .previous-grid .bottom-bg {
  @apply absolute left-0 -bottom-96;
}
.reasons .stream {
  @apply site-container flex flex-col xl:flex-row gap-[5.75rem] pt-[8.625rem] pb-[9.625rem] relative z-10;
}
.reasons .stream-heading {
  @apply text-[2rem] sm:text-[3.5rem] text-white leading-[1.9625rem] sm:leading-[3.375rem] font-black w-fit text-center lg:text-left;
  font-variation-settings: "wght" 870, "wdth" 132;
}
.reasons .stream-heading span {
  @apply text-[#F4DBA8];
}
.reasons .stream-cards {
  @apply flex flex-col xl:flex-row justify-center gap-6 sm:gap-0 lg:max-w-[33.875rem] lg:min-w-[33.875rem];
}
.reasons .stream-card {
  @apply -ml-8;
}
.reasons .stream-card:first-child {
  @apply mt-[0.625rem] ml-0;
}
.reasons .stream-card:first-child img {
  @apply xl:w-[9.25rem];
}
.reasons .stream-icon {
  @apply w-full max-w-52 mx-auto;
}
.reasons .stream-text {
  @apply text-xs text-white font-black sm:mt-6 mb-2 text-center leading-4 max-w-[152px] mx-auto;
  font-variation-settings: "wght" 870, "wdth" 132;
}
.reasons .stream-link {
  @apply text-white bg-[#F4DBA84D] rounded-full flex justify-between px-4 h-5 items-center text-xs w-32 mx-auto;
}

:root {
  --dark: #373349;
  --gap: 15px;
  --width: 224px;
  --height: var(--width);
}

.image-grid > div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  overflow: hidden;
}

.image-grid > div::after {
  content: "";
  background: linear-gradient(transparent, black);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: translateY(100%);
  transition-duration: 0.75s;
}

.image-grid > div:hover::after {
  transform: translateY(50%);
}

.image-grid > div > * {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
  transition-duration: 1s;
}

.image-grid > div:hover > img {
  transform: scale(1.05);
}

.image-grid {
  display: grid;
  grid-gap: var(--gap);
  grid-auto-flow: dense;
  position: relative;
  z-index: 2;
  @apply grid-cols-[repeat(auto-fit,minmax(8.875rem,1fr))] sm:grid-cols-[repeat(auto-fit,minmax(14rem,1fr))] auto-rows-[8.875rem] sm:auto-rows-[14rem];
}

.horizontal {
  grid-column: span 2;
}

.vertical {
  grid-row: span 2;
}

.big {
  grid-column: span 2;
  grid-row: span 2;
}

.faqs {
  @apply site-container pt-[8.5rem] pb-28 sm:pb-[10.5625rem];
}
.faqs-supertitle {
  @apply text-xs sm:text-base text-[#B88D38] font-medium text-center tracking-[12.8px] mb-2;
}
.faqs-title {
  @apply text-lg sm:text-2xl font-black  text-center mx-auto;
  font-variation-settings: "wght" 870, "wdth" 132;
}
.faqs-wrapper {
  @apply mt-12;
}

.faq {
  @apply bg-[#FAFAFA] p-8 rounded-lg mb-4;
}
.faq-title {
  @apply text-sm sm:text-2xl font-medium sm:font-semibold flex w-full justify-between text-left;
}
.faq-title h5 {
  @apply max-w-[51rem];
}
.faq-text {
  @apply text-sm sm:text-base mt-4 text-[#000000B2] max-w-[51rem] transition-all;
}
.faq-text a {
  @apply text-[#1B5ECE] font-semibold underline uppercase;
}
.faq .open {
  @apply h-0 overflow-hidden mt-0;
}

.question {
  @apply site-container flex justify-center lg:justify-between items-center;
}
.question-container {
  @apply bg-[#FFFCF6] py-28;
}
.question-title {
  @apply text-[2rem] sm:text-[3.5rem] font-black leading-[1.9625rem] sm:leading-[3.375rem] lg:w-1/2 mb-8 text-center lg:text-left;
  font-variation-settings: "wght" 870, "wdth" 133;
}
.question-title span {
  @apply text-[#B88D38];
}
.question-btn {
  @apply w-[252px] h-[52px] bg-black hover:bg-[#B88D38] transition-all rounded-lg text-white font-semibold flex justify-center items-center;
  @apply mx-auto lg:mx-0;
}
.question-img {
  @apply hidden lg:block lg:w-[26.3125rem];
}

.newsletter {
  @apply site-container mt-[6.625rem] sm:mt-[7.5rem];
}
.newsletter-supertitle {
  @apply text-xs sm:text-base text-[#B88D38] font-medium text-center tracking-[12.8px] mb-4 sm:mb-2;
}
.newsletter-title {
  @apply text-lg leading-[1.125rem] sm:text-2xl sm:leading-8 text-center font-black;
  font-variation-settings: "wght" 870, "wdth" 133;
}
.newsletter-form {
  @apply flex flex-wrap max-w-[50rem] mx-auto overflow-hidden mt-8;
}
.newsletter-input {
  @apply px-8 text-[#B0B0B0] placeholder-[#B0B0B0] bg-[#FFFCF6] w-full rounded-lg border border-[#EEDFC2] focus:outline-none focus:border-black h-[3.125rem];
}
.newsletter-input:first-child {
  @apply w-[13.4375rem] mb-4 sm:mb-0 sm:mr-4;
}
.newsletter-input:nth-child(2) {
  @apply flex-1 min-w-[17.5rem];
}
.newsletter-btn {
  @apply sm:ml-4 mt-4 sm:mt-0 w-[3.75rem] flex bg-black transition-all hover:bg-[#B88D38] justify-center items-center h-[3.125rem] rounded-lg;
}

.footer {
  @apply site-container border-t border-[#E1E1E1] pt-[2.5rem] pb-[3.125rem] mt-[7.875rem];
}
.footer-text {
  @apply text-center;
}
