.about {
  &-container {
    background: linear-gradient(
      180deg,
      #fffcf7 0%,
      rgba(255, 252, 247, 0) 100%
    );
    @apply mt-12 py-[4.5rem];
  }
  @apply site-container flex flex-col lg:flex-row gap-8 sm:gap-20 text-center lg:text-left;
  &-heading {
    @apply text-[2rem] leading-[1.9625rem] sm:text-[3.5rem] font-black sm:leading-[3.375rem] w-fit;
    font-variation-settings: "wght" 870, "wdth" 133;
    span {
      @apply text-[#B88D38];
    }
  }
  &-text {
    @apply text-[#46371BB2];
  }
  &-becon {
    @apply site-container flex flex-col lg:flex-row  gap-20 pt-20 relative;
    &-wrapper {
      @apply dark:bg-black dark:text-white duration-[.5s];
    }
    .target {
      @apply lg:border-l-[0.5625rem] border-[#B88D38] lg:pl-8 text-center lg:text-left mt-6 lg:mt-0;
      &-wrapper {
        @apply lg:h-screen flex flex-col justify-center mb-16 lg:mb-0;
        img {
          @apply rounded-md lg:hidden;
        }
      }
      &-title {
        @apply text-[#B88D38] text-xl sm:text-2xl font-black mb-2;
        font-variation-settings: "wght" 870, "wdth" 133;
      }
      &-body {
        @apply text-[#000000B2]  dark:text-white leading-6;
      }
      &-holds {
        @apply font-semibold text-[#333333B2] dark:text-white mt-4;
      }
      &-date {
        @apply text-2xl font-bold;
      }
      &-links {
        @apply flex  mt-6 mx-auto lg:ml-10 lg:mr-0 items-center gap-2;
      }
      &-know {
        @apply bg-black dark:bg-white text-white dark:text-black font-medium w-[9.75rem] h-10 flex justify-center items-center rounded-full;
      }
      &-link {
        @apply h-10 w-48 text-[#B88D38] justify-center gap-1 items-center bg-[#F5F1E7] rounded-full flex;
      }
      &-img-wrapper {
        @apply hidden lg:flex sticky top-0 h-screen items-center min-w-[50%];

        .open {
          @apply opacity-100 w-full;
        }
      }
      &-img {
        @apply opacity-0 duration-[.5s]  absolute top-1/2 -translate-y-1/2 rounded-md;
      }
    }
  }
}
