.reasons {
  @apply overflow-x-hidden;
  &-heading {
    @apply site-container text-lg sm:text-2xl sm:w-[37.375rem] font-black  text-center;
    font-variation-settings: "wght" 870, "wdth" 132;
  }
  &-btn-grp {
    @apply site-container flex gap-1 justify-center mt-8 mb-[3.75rem];
    button {
      @apply w-[7.375rem] h-[2.625rem];
    }
    .active {
      @apply border-2 border-[#B88D38] rounded-full;
    }
  }
  .testimony {
    @apply flex flex-col-reverse lg:flex-row text-white p-5 lg:p-0;
    &-text {
      @apply w-full lg:w-1/2 lg:pr-[4.625rem] lg:ml-auto lg:max-w-[34rem] pt-6 sm:pt-[4.375rem] flex flex-col-reverse lg:flex-col;
    }
    &-name {
      @apply text-2xl mb-2 mt-11 lg:mt-0;
    }
    &-content {
      @apply text-[#FFFFFFCC] mb-4;
    }
    &-options {
      @apply flex gap-5;
      button {
        @apply w-[74px] h-[74px] rounded-lg overflow-hidden opacity-50;
        img {
          @apply w-full h-full object-cover;
        }
      }
      .active {
        @apply border-[3px] border-[#F1C670] opacity-100;
      }
    }
    &-img {
      @apply top-0 right-0 w-full lg:w-1/2 relative sm:max-h-[33.5rem];
      video {
        @apply w-full h-full sm:max-h-[33.5rem];
      }
    }
    &-play {
      @apply absolute right-9 top-8 z-10;
    }
  }
  .previous {
    @apply site-container flex flex-col lg:flex-row gap-[5.75rem] pt-28 lg:pt-[13.25rem]  relative z-10 text-center lg:text-left;
    &-heading {
      @apply text-[2rem] sm:text-[3.5rem] text-white leading-[1.9625rem] sm:leading-[3.375rem] font-black w-fit;
      font-variation-settings: "wght" 870, "wdth" 132;
      span {
        @apply text-[#B88D38];
      }
    }
    &-text {
      @apply text-[#FFFFFFCC];
    }
    &-grid {
      @apply bg-[#000000] relative pt-[4.5rem];
      .top-bg {
        @apply absolute right-0 -top-96;
      }
      .bottom-bg {
        @apply absolute left-0 -bottom-96;
      }
    }
  }
  .stream {
    @apply site-container flex flex-col lg:flex-row gap-[5.75rem] pt-[8.625rem] pb-[9.625rem] relative z-10;
    &-heading {
      @apply text-[2rem] sm:text-[3.5rem] text-white leading-[1.9625rem] sm:leading-[3.375rem] font-black w-fit text-center lg:text-left;
      font-variation-settings: "wght" 870, "wdth" 132;
      span {
        @apply text-[#B88D38];
      }
    }
    &-cards {
      @apply flex flex-wrap lg:flex-nowrap gap-8 justify-center;
    }
    &-card {
      @apply bg-[#292929] text-white w-[15.5rem] sm:h-[16.25rem] px-6 py-8 rounded-lg;
    }
    &-icon {
    }
    &-text {
      @apply text-lg sm:text-2xl font-black mt-6 mb-8 leading-[1.875rem];
      font-variation-settings: "wght" 870, "wdth" 132;
    }
    &-link {
      @apply text-sm font-medium flex w-full h-10 bg-[#ED1C24] hover:bg-[#CF0006] transition-all justify-between px-8 items-center rounded-lg;
    }
  }
}
