.reasons {
  @apply overflow-x-hidden;
  &-heading {
    @apply site-container  lg:px-6 text-[2rem] leading-[1.9625rem] sm:text-[3.5rem] sm:leading-[3.375rem] font-black  text-center mb-8 sm:mb-[4.5rem];
    font-variation-settings: "wght" 870, "wdth" 132;
    span {
      @apply text-[#B88D38] lg:block;
    }
  }
  .testimony {
    @apply flex flex-col-reverse lg:flex-row text-white p-5 lg:p-0;
    &-text {
      @apply w-full lg:w-1/2 lg:pr-[4.625rem] lg:ml-auto lg:max-w-[34rem] pt-6 sm:pt-[4.375rem] flex flex-col-reverse lg:flex-col;
    }
    &-name {
      @apply text-2xl mb-2 mt-11 lg:mt-0;
    }
    &-content {
      @apply text-[#FFFFFFCC] mb-4;
    }
    &-options {
      @apply flex gap-5 mt-auto;
      button {
        @apply w-[74px] h-[74px] rounded-lg overflow-hidden opacity-50;
        img {
          @apply w-full h-full object-cover;
        }
      }
      .active {
        @apply border-[3px] border-[#F1C670] opacity-100;
      }
    }
    &-img {
      @apply top-0 right-0 w-full lg:w-1/2 relative sm:h-[42.5rem];
      img {
        @apply w-full h-full object-cover;
      }
    }
  }
  .previous {
    @apply site-container flex flex-col lg:flex-row gap-[5.75rem] pt-28 lg:pt-[13.25rem]  relative z-10 text-center lg:text-left;
    &-heading {
      @apply text-[2rem] sm:text-[3.5rem] text-white leading-[1.9625rem] sm:leading-[3.375rem] font-black w-fit;
      font-variation-settings: "wght" 870, "wdth" 132;
      span {
        @apply text-[#F4DBA8];
      }
    }
    &-text {
      @apply text-[#FFFFFFCC];
    }
    &-grid {
      @apply bg-[#000000] relative pt-[4.5rem];
      .top-bg {
        @apply absolute right-0 -top-96;
      }
      .bottom-bg {
        @apply absolute left-0 -bottom-96;
      }
    }
  }
  .stream {
    @apply site-container flex flex-col xl:flex-row gap-[5.75rem] pt-[8.625rem] pb-[9.625rem] relative z-10;
    &-heading {
      @apply text-[2rem] sm:text-[3.5rem] text-white leading-[1.9625rem] sm:leading-[3.375rem] font-black w-fit text-center lg:text-left;
      font-variation-settings: "wght" 870, "wdth" 132;
      span {
        @apply text-[#F4DBA8];
      }
    }
    &-cards {
      @apply grid grid-cols-2 sm:flex flex-col sm:flex-row justify-center gap-6 sm:gap-0 lg:max-w-[33.875rem] lg:min-w-[33.875rem];
      // @apply grid grid-cols-4 w-[542px];
    }
    &-card {
      @apply sm:-ml-8;

      &:first-child {
        @apply mt-[0.625rem] ml-0;
        img {
          @apply xl:w-[9.25rem];
        }
      }
    }
    &-icon {
      @apply w-full max-w-52 mx-auto;
      // box-shadow: -8px 2px 12px 0px #00000052;
    }
    &-text {
      @apply text-xs text-white font-black sm:mt-6 mb-2 text-center leading-4 max-w-[152px] mx-auto;
      font-variation-settings: "wght" 870, "wdth" 132;
    }
    &-link {
      @apply text-white bg-[#F4DBA84D] rounded-full flex justify-between px-4 h-5 items-center text-xs w-32;
      @apply mx-auto transition-all hover:justify-around;
    }
  }
}
